@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Exo2-Regular.ttf');
  font-display: swap;
}

body {
  background-color: #2c2c2c;
}
